*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #1f1f1f;
}

#portfolio_intro.first{
    position: relative;
}
#portfolio_intro.first .round{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #7FD9FF;
    border-radius: 50%;
    top: -70px;
    left: -70px;
}
#portfolio_intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#portfolio_intro .intro_item{
    width: 50%;
}
#portfolio_intro .intro_item.pf_text{
    padding-left: 40px;
}
h1{
    font-family: 'Fredoka One';
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
h1 span{
    color: #7FD9FF;
}
#portfolio_intro .intro_item h3{
    font-size: 25px;
    font-weight: 700;
}
#portfolio_intro .intro_item p{
    font-size: 15px;
    color: #616161;
    padding: 15px 0;
    line-height: 20px;
}
#portfolio_intro .intro_item .linkin_btn a{
    background-color: #7fd9ff;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 8px;
}
#portfolio_intro .intro_item.pf_image{
    text-align: right;
}
#portfolio_intro .intro_item img{
    width: 80%;
}
.secend{
    position: relative;
}
.secend .shap{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-40%);
    text-align: right;
    z-index: -1;
}
.secend .shap img{
    height: 300px;
}

#experience{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 40px 100px 40px;
    position: relative;
}
#experience::after{
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    background-color: rgba(127, 217, 255, .7);
    border-radius: 50%;
    left: -100px;
    top: 57%;
    transform: translateY(-50%);
}
#experience .heading{
    width: 100%;
    padding-bottom: 30px;
}
#experience .experience_item{
    width: 46%;
    margin: 0 2%;
    padding: 30px;
    box-shadow: 0px 1px 5px 4px rgba(40, 76, 92, 0.2);
    border-left: 5px solid #7FD9FF;
}
#experience .experience_item:last-child{
    border-left: 5px solid #01b3ff;
}
#experience .experience_item h2{
    font-family: 'Fredoka One';
    font-size: 25px;
    padding-bottom: 10px;
}
#experience .experience_item h4{
    color: #7FD9FF;
    font-size: 18px;
    font-weight: 700;
}
#experience .experience_item p{
    font-size: 15px;
    color: #616161;
    padding-top: 15px;
    line-height: 20px;
}
footer{
    padding: 15px;
    background-color: #f3f3f3;
}
footer p{
    font-size: 14px;
    text-align: center;
}